<!--List of people attending a certain event.-->

{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<h1 align="center">People attending each Event</h1>

<p align="center">All of the events that people are attending!</p>


<table border="1" style="width:100%">
<tr>

    <th style="color: #C31E1E; font-family:Georgia, Serif" >Username</th>
    <th style="color: #C31E1E; font-family:Georgia, Serif">Event Name</th>
    <th style="color: #C31E1E; font-family:Georgia, Serif">Attending?</th>
  

</tr>
{{for i in rows:}}
<tr>
<td style="color:black">{{=i.user_attending.first_name}}</td>
<td style="color:black">{{=i.event_name.event_name}}</td>
<td style="color:black">{{=i.attended}}</td>


</tr>
{{pass}}
</table>


<!--{{=A('View all Events', _class='btn', _href=URL('default', 'events'))}}
{{=A('Main Page', _class='btn', _href=URL('default', 'index'))}}-->
